In [1]:
import pandas as pd
import re

#Getting the excel file which contains the data
data = pd.read_excel('Jishnu.xls')
df = pd.DataFrame(data)
df.head(n=5)
#print (len(df.columns)) this gets the total number of columns so that I know how much will 
# my loop run and also to keep track of the data inflow

   Item_1  Item_2  Item_3
0   10000     500      60
1    5000     300      25
2    6000    2000      15
3    9000     400      34
4   12000     300      59

In [2]:
min_1 = min(df.iloc[:,0]) # It extracts all the elements in zeroth column and calculates its minimum
print(min_1)

5000

This could have been the last bit of code by not adding the min. cost of each item to a list and then calculating , rather just add the min. costs here only by \n 
optimised_cost = 0 \n
for i in range(0, len(df.columns)): \n
    optimised_cost = optimised_cost + min(df.iloc[:,0]) \n

In [3]:
min_cost = [] # an empty list to contain all the min values from each variable
for i in range(0,len(df.columns)):
    min_cost.append(min(df.iloc[:,i])) # calculating min and adding to the list
print (min_cost)

[5000, 300, 15]

In [4]:
# Adding up all the values to get the final optimised cost
optimised_cost = sum(min_cost)
print(optimised_cost)

5315